@media (max-width: 768px) {

    /* Styles for smaller screens */
    .container {
        width: 100%;
        padding: 10px;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.container {
    background-color: #fff;
    padding: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 10px;
    text-align: left;
}

#decision.buy {
    color: green;
}

#decision.not-buy {
    color: red;
}