<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Price Prediction</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <h1>STOCK PREDICTION PROJECT</h1>
    <br>
    <div class="container">
        <h1>Stock Price Prediction</h1>
        <form id="stock-form">
            <label for="stock-ticker">Enter Stock Ticker:</label>
            <input type="text" id="stock-ticker" name="stock-ticker" required>
            <button type="submit">Predict</button>
        </form>

        <div id="result" style="display: none;">
            <h2>Prediction Results</h2>
            <p>Today's Price: $<span id="today-price"></span></p>
            <p>Tomorrow's Prediction: $<span id="tomorrow-prediction"></span></p>
            <p>Decision: <span id="decision"></span></p>

            <h2>Stock Data</h2>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Open</th>
                        <th>High</th>
                        <th>Low</th>
                        <th>Close</th>
                        <th>Volume</th>
                        <th>Sentiment</th>
                    </tr>
                </thead>
                <tbody id="stock-data-body">
                    <!-- Stock data rows will be inserted here dynamically -->
                </tbody>
            </table>

            <h2>Stock Price Chart</h2>
            <canvas id="stock-chart"></canvas>
        </div>
    </div>
    <script src="/static/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>

</html>